.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
  background-color: #e0e0e0;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.homeGrid,
.scoreboardGrid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  font-size: 2rem;
  align-items: center;
  background-color: #424651;
}

.homeGrid > div,
.scoreboardGrid > div {
  line-height: 3rem;
}

.homeGrid {
  row-gap: 20px;
}

.homeGrid .plusMinus,
.homeGrid .buyIns,
.homeGrid .winnings {
  justify-self: center;
}

.scoreboardGrid .totalBuyIns,
.scoreboardGrid .winnings {
  justify-self: center;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.playerName {
  font-size: 2rem;
}

.gridHeader {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

.gridHeader svg {
  margin-bottom: -5px;
}

.gridHeader:nth-child(1) {
  justify-self: start;
}

@media screen and (max-width: 600px) {
  .noMobileDisplay {
    display: none;
  }

  .homeGrid {
    grid-template-columns: 2fr 1fr;
  }

  .scoreboardGrid {
    grid-template-columns: 3fr 1fr 1fr 2fr;
    justify-items: center;
    line-height: 2.2rem;
  }

  .buttonGrid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  /* Used !important to override Semantic UI Button component styling */
  .buttonGrid button {
    margin: 0 !important;
  }
}
