.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
font-size: 100px;
text-align: center;
margin: 0;
font-family: 'Lobster', serif;
}

footer {
width: 100%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.loader {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}