ul {
  padding: 0;
  display: inline-flex;
  width: 50%;
  align-items: center;
}

.nav-links {
  padding: 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 50px;
  float: right;
}

.nav-links li {
  padding-left: 10px;
  color: white;
}

a {
  color: white;
}

li {
  display: inline;
  list-style: none;
  margin-right: 5px;
}
