h2 {
  text-align: center;
}

.mobileDescriptionSpan {
  display: none;
}

@media screen and (max-width: 766px) {
  .tableRow {
    text-align: center;
  }

  .mobileDescriptionSpan {
    display: inline;
  }
}
