h2 {
  text-align: center;
}

.mobileDescriptionSpan {
  display: none;
}

.totalPotSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 300px;
}

.totalPotSection div {
  margin-top: -50px;
}

.totalPotText {
  display: block;
  margin-top: -225px;
  font-size: 100px;
}

@media screen and (max-width: 766px) {
}
